@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,700;0,800;1,700;1,800&family=Forum&family=Lemonada:wght@600;700&display=swap');

/* ==========BASIC UNIVERSAL STYLING & CLEAN UP============= */
    /* some basic css resetting */
body { margin: 0; box-sizing: border-box; }
a { text-decoration: none; color:black; }
/*============================Fonts==========================*/
    /* ========== Text Stylings ==========*/
        span {
            font-family: "Exo2Black";
            color: #3b3010;
            font-family: 'Exo 2', sans-serif;
        }

        h1, h2, h3, h4, h5, h6, cite {
            font-family: "Lemonada";
            text-align: center; 
            margin-top: 1%;
            margin-bottom: 0.25%;   
        }

        .segment h2{
            background-color: #f7ce76;
        }

        h2, h2 span, h3 span, h4 span, h5 span, h3, h4 {
            font-size: 3.2rem;
        }

        p, a {
            font-family: 'Forum', cursive;
        }
    /* ========== h1 = Header ============== */
        h1 {
            font-size: 5rem;
            text-shadow:5px 5px white;           
        }

        h1 span{
            font-size: 4.8rem;
        }

    /* ============ h2 = Segment Headings ========== */
        h2 {
            text-shadow:2px 2px white;
        }

        .writeup h2{
            background-color: initial;
        }

    /* ============h4 = Filter buttons  ========== */
        a {
            font-size: 1.25rem;
            font-weight: bolder;
        }
        a:hover{
            color: #688FB3;
        }
    
    /* ============ Paragraph ============ */
        p  {
            margin-bottom: 2px;  
        }
        h5 {
            font-size: 1.5rem;
        }
        

/* ==========HEADER============= */
html {
    scroll-behavior: smooth;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
header {
    margin: 0;
    width: 100vw;
    height: 20vh;
    position: relative;
    background-color: rgb(116, 131, 145);
}

/* ==========LOGO============= */
/* ==========NAVIGATION============= */
/* Sticky Navigation Bar by Tutorial Republic
https://www.tutorialrepublic.com/faq/how-to-create-fixed-header-or-f-using-css.php*/
label, #burger {
    display: none; 
}
  
 
label {
    display: block; 
    padding: 10px;
}

  
nav input:checked ~ a { 
    display: block;
}

.topnav  {    
    position: sticky; 
    top:0;
    z-index: 200;
    width: 100vw;
    background-color:#fbd88f;
}
.navcontent {
    width: 60vw;
    margin: 0 20vw;
    padding: 0vw;
    top: 0;
}
nav {
    background-color: #fbd88f;
}
/*Button for Website Navigation*/
nav a {
 display: inline-block;
 text-align: center;
 padding: 1% 4%;
 text-decoration: none;   
}

nav a:hover{
    background-color: #FDB7B3;
    color: black;
}

a:hover {
    color: #688FB3;
}
/* ==========MAIN BODY CONTENT============= */
.content {
    width: 100vw;
    height:100%;
    border-top: solid #fcfcfc 1px;
    background-color: rgb(224, 224, 224);
  }
  * {
    box-sizing: border-box;
  }


/* ============= Announcement Space =============== */

/*
PURE RESPONSIVE CSS3 SLIDESHOW GALLERY by Roko C. buljan
https://codepen.io/rokobuljan/pen/XXzqKQ
*/

.CSSgal {
	position: relative;
	overflow: hidden;
	height: 100%; /* Or set a fixed height */
}

/* SLIDER */

.CSSgal .slider {
	
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}
.info {
    max-height: 90vh;
    height: 900px;
    padding: 2% 6%;
    color: black;
    display: flow-root;
}

.info h2, .info h3, .info h5, .info p {
    margin-top: 0;
}

/* SLIDES */

.CSSgal .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
	position: absolute;
	z-index: 2;
    top: 40%;
    bottom: 40%;
	width: 100%;
	height: 0;
}

.CSSgal .prevNext > div+div {
	visibility: hidden; /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
	background: #fff;
	position: absolute;
	width:       60px;
	height:      60px;
	line-height: 60px; /* If you want to place numbers */
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
.CSSgal .prevNext a:hover {
	opacity: 1;
}
.CSSgal .prevNext a+a {
	left: auto;
	right: 0;
}

/* NAVIGATION */

.CSSgal .bullets {
	position: relative;
	z-index: 2;
	bottom: 0;
	padding: 10px 0;
	width: 100%;
    text-align: center;
    transform: translateY(-100%);
}
.CSSgal .bullets > a {
	display: inline-block;
	width:       15px;
	height:      15px;
	line-height: 15px;
	text-decoration: none;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.3s;
        transition: 0.3s;
    margin: .5vw;
    
}
.CSSgal .bullets > a+a {
	background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.CSSgal .bullets > a:hover {
	background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}
#s5:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s6:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s7:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s8:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s9:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#s10:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}
#s11:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s12:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s13:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#s14:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}

/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
#s5:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s6:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s7:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s8:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s9:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s10:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
#s11:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s12:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s13:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s14:target ~ .prevNext >*:nth-child(4) {visibility: visible;}

/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
#s5:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s6:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s7:target ~ .slider {transform: translateX(0%); -webkit-transform: translateX(0%);}
#s8:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s9:target ~ .slider {transform: translateX( -200%); -webkit-transform: translateX(-200%);}
#s10:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
#s11:target ~ .slider {transform: translateX(0%); -webkit-transform: translateX(0%);}
#s12:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s13:target ~ .slider {transform: translateX( -200%); -webkit-transform: translateX(-200%);}
#s14:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
/* More slides? Add here more rules */


/* YOU'RE THE DESIGNER! 
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */

.CSSgal{
	color: #fff;	
	text-align: center;
}
.CSSgal .slider h3 {
    top: 40%;
    left: 50%;
	font-weight: 200;
	letter-spacing: -0.06em;
	word-spacing: 0.2em;
}
.CSSgal a {
	border-radius: 50%;
	margin: 0 1%;
	color: rgba(0,0,0,0.8);
	text-decoration: none;
}
/* ==========End Announcement Space Styling=========*/
/*============General Styling========*/
.segment {
    height: 100%;
    padding-bottom: 1.8%;
    position: relative;
}

.segment:after {
    content: "";
    display: table;
    clear: both;
}
/*======Image Styling=========*/
img {
    border-radius: 10px;
    padding: 3px;
    margin: 0;
    width: 600px;
    max-width: 100%;
    height: auto;
}

.gallery div {display: block;}
.gallery .frame, .gallery .framelscape { 
    display:flex;
    flex-direction: row;
}

.frame [slot="footer"], .frameImg [slot="footer"], .userHighlight [slot="footer"], .productDiv [slot="footer"], .frame [slot = "image"], .frameImg [slot = "image"], .userHighlight [slot="image"], .productDiv [slot = "image"]{
    max-height: 100vh;
    
}

    /*====Picture description======*/
    .caption {
        background-color: white;
        padding: 0.1%;
        margin: 0;
        font-size: 1.5rem;
        text-align: center;
    }

    .caption h5, .caption p{
        margin-top: 0;      
    }

    .caption h5{
        margin-bottom: 0.25%;
    }

    .caption h5{
        margin-bottom: 0;
    }

/*=====Videoclips=========*/
.video {
    max-width: 100%;
    height: auto;
    padding: 5px;
}

/* ==========SECTION 1 STYLING============= */
label, #burger {
    display: none; 
}

article.mainblock {
    position: relative;
    top: 10%;
    display: flow-root;
    width: 95%;
    margin: 3% 2.5% 1.25%;
}
.writeup {
    display: flex;
    width: 100%;
    text-align: center;
}

.info .writeup{
    display: inline-block;
}

#welcomeMsg h5 {
    margin-left: 2%;
    margin-top: 15%;
    text-align: left;
}

p.filter {
    font-family: "Lemonada";
    text-align: center;
    color: white;
    font-size: 2rem;
}
.centered {
    position: relative;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300%);
}

centered::after {
    clear: both;
    content: "";
    display: initial;
}

#intro .frame::after{
    clear: both;
    content: "";
    display: initial;
    margin: initial;
}

#intro .frame a img {
    filter: brightness(40.5%);
    -webkit-filter: brightness(40.5%);
}

/* ==========SECTION 2 STYLING============= */
.museum {
    position: relative;
    margin:  0% 2%;
    padding: 0;
    width: 96%;
    display: inline-block;
}

.museum::part(nav){
    width: 100%;
    background-color: #fbd88f;

}

.museum::part(active-tab-indicator){
    --indicator-color: #794442;
}

#keyartsPromo .info {
    height: 450px;
}

/*Gallery Layout by W3 Schools - Mixed Layout
https://www.w3schools.com/howto/howto_css_mixed_columns.asp
*/
.frame {
    float: left;
    width: 24%;
    margin-right: 1%;
    text-align: center;
}

.frame [slot="image"]{
    height: 300px;
    object-fit: contain;
    padding: 0;
    margin: -5%;
}

.frame [slot = "footer"]{
    height: 170px;
    margin: 0 -2%;
    padding: 0 1.75%;
}

/* ==========SECTION 3 STYLING============= */
.paragraph p {
    font-size: inherit;
}

.writeup h3 {
    margin: 0;
}

.writeup h5 {
    margin-bottom: 1%;
}

.writeup div{
    padding-left: 5%;
    padding-right: 5%;
}

.frameImg, .userHighlight{
    float: left;
    width: 24%;
    margin-right: 1%;
    text-align: center;
    
}

#fanArtistSlide .info {
    height: 560px;
}

.userHighlight [slot="image"], .frameImg [slot = "image"], .productDiv [slot = "image"] {
    height: 400px;
    object-fit: contain;
    padding: 0;
    margin: -5%;
}

.userHighlight [slot="footer"], .frameImg [slot = "footer"], .productDiv [slot = "footer"] {
    height: 130px;
    margin: 0 -2%;
    padding: 0 1.75%;
}

/* ==========SECTION 4 STYLING============= */



.tablink::part(base), .tabfilter::part(base){
    background-color: #fbd88f;
    color: black;
    float: left;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: "Forum";
    font-weight: bolder;
    --padding: 1% 0;
}
  
  /* Style the tab content */
.tabcontent {
    --padding: 2% ;
    text-align: left;
    width: 100%;
}

#newsEventsUpdate .info{
    height: 300px;
}
  
#Asia, #Africa, #Europe, #Carribean, #Americas, .museum::part(body) {background-color:white;}

/* ==========SECTION 5 STYLING============= */
.productDiv {
    width: 23%;
    margin: 0 1.25% 0.5%;
}

.museum::part(body){
   padding: 3% 0 2%; 
}

.museum .frame::after{
    content: "";
    clear: both;
    display: inline;
}

#artToolsPromo .info {
    height: 300px;
}

/* ==========FOOTER STYLIING============= */
.buttonb2top {
    background-color: #688FB3;

}

.footer{
    width: 100vw;
    background-color: rgb(116, 131, 145);
    padding: 2%;
}

/* ==========RESPONSIVE DESIGN============= */

/* ===== 5K RETINA MAC LABS: Media queries for Curtin Uni mac lab testing only ===== */
@media only screen and (max-width: 5120px) {

        
}


/* ===== SMALL DESKTOP: Media queries for laptop/small desktop ===== */
    @media only screen and (max-width: 1980px) { 
        h1 {
            text-align:left; 
            transform: translate(-3%,-60%);
        }
        .frame {
            width: 24%;
            height: auto;
        }
        .promopic {
            float: left;
            margin-right: 0;
        }
        .segment {
            width: 80vw;
            margin: 0 10vw;
        } 
        .paragraph {
            width: 58%;
            padding-left: 2%; 
            text-align: left; 
            margin-right: 0;
        }
        .writeup {
            margin-top: 2%;
        }
        .writeup .paragraph {
            margin-left: 0%;
        }

        header {
            padding: 5%;
        }

        a.filter {
            font-size: 2.5rem;
        }
    }

    @media only screen and (max-width: 1280px) {
        header {
            height: 18vh;
        }

        h1 {
            text-align: left;
            transform: translate(-3%,-50%);
        }

        .navcontent {
            width: 70vw;
            margin: 0 15vw;
        }

        .centered {
            transform: translate(-50%, -250%);
        }

        #usersCreationsBtn, #newsneventsBtn{
            transform: translate(-50%, -150%);
        }

        #newsEventsUpdate .info {
            padding: 2% 8%;
        }

        #keyartsPromo .info {
            height: 630px;
        }

        .frame [slot="footer"] {
            height: 270px;
        }

        .frameImg [slot="footer"]{
            height: 220px;
        }

        #artToolsPromo .info {
            padding: 2% 8%;
        }

        .productDiv {
            margin: 0 1.25% 03%;
        }

        .productDiv [slot="footer"] {
            height: 240px;
        }
    }

    @media only screen and (max-width: 1250px) {
        h1 {
            transform:translate(-5%, -40%);
        }
    }
    /* ===== TABLET: Media queries for verticle and horizontal ===== */
    @media only screen and (max-width: 1080px) {
        .info {
            height: 600px;
            padding: 5% 10%;
        }

        #fanArtistSlide .info {
            height: 1100px;
            max-height: initial;
        }

        .frame, .frameImg, .userHighlight {
            float: left;
            width: 49%;
            margin-right: 1%;
            margin-bottom: 3%;
        }

        .CSSgal .bullets > a {
            width: 30px;
            height: 30px;
        }

        .museum {
            margin: 0%;
            padding: 0;
            width: 100%;
        }
    }

    @media only screen and (max-width: 1024px) {
        header {
            height: 10vh;
        }

        h1 {
            text-align:center;
            transform: translate(-5%, -45%);
        }

        .paragraph h3{
            font-size: 2rem;
        }

        .paragraph h5{
            font-size: 1.15rem;
        }

        .paragraph{
            padding-left: 0.5%;
        }

        .topnav{
            padding-top: 1%;
        }

        .CSSgal .prevNext a {
            width:       60px;
            height:      60px;
            line-height: 60px; /* If you want to place numbers */
        }
        .CSSgal .bullets > a {
            display: inline-block;
            width:       30px;
            height:      30px;
            line-height: 30px;
        }
        .navcontent {
            width: 90vw;
            margin: 0 5vw;
        }

        nav a {
            padding: 1% 2%;
        }

        .frame, .userHighlight, .frameImg {
            width: 48%;
            margin: 0 1% 2%;
        }

        #intro .frame {
            margin: 0 1% -10%;
        }

        #fanArtistSlide .info .frame, #fanArtistSlide .info .paragraph{
            width: 98%;
            margin: 0 1% 3%;
        }

        #fanArtistSlide .info {
            height: 1080px;
        }

        #keyartsPromo .info {
            height: 700px;
        }

        .writeup {
            position: relative;
            display: inline-block;
        }
        .tabcontent {
            width: 70vw;
        }

        #newsEventsUpdate .info{
            height: 350px;
        }

        #artToolsPromo .info {
            height: 250px;
        }

        .productDiv {
            width: 47%;
            margin: 0 1.25% 3%;
        }

        .productDiv [slot="footer"] {
            height: 125px;
        }

        .frameImg [slot="footer"] {
            height: 125px;
        }

        #newsnevents .segment .museum .tabcontent .writeup a .promopic, #newsnevents .segment .museum .tabcontent .writeup .paragraph{
            width: 100%;
        }
    }



    @media only screen and (max-width: 1000px) {

        .segment {
            width: 90vw;
            margin: 0 5vw;
        }

        
        
        .tabcontent {
            width: 100%;
        }
    }

    @media only screen and (max-width: 810px) {
        h4.tagline{
            transform: initial;
            padding: 0;
            font-size: 1.2rem;
        }

        .writeup div, .writeup h5{
            padding: 0 6.5%;
        }

        .productDiv{
            width: 48%;
            margin: 0 0.5% 2%;
        }

        .info {
            height: 700px;
            padding: 5% 10%;
        }

        #fanArtistSlide .info{
            height: 1400px;
        }

        #artToolsPromo .info {
            height: 250px;
        }

        .userHighlight [slot="image"] {
            margin: -20%;
        }

        .frame [slot="image"], .frameImg [slot="image"], .productDiv [slot="image"]{
            margin: 0;
        }

        .CSSgal .bullets{
            padding-top: 0;
            transform: translateY(-120%);

        }

        h1 {
            transform:translate(-5%, -30%);
        }

        img {
            width: 100%;
        }

        #welcomeMsg h5 {
            margin-left: 0;
        }

        .paragraph {
            width: initial;
        }

        .info p {
            padding: 0 6%;
            text-align: left;
        }

        #intro .frame{
            margin-bottom: -22%;
        }

        .frame [slot="footer"], .frameImg [slot="footer"], .productDiv [slot="footer"] {
            height: 125px;
            padding: 0;
        }

        #keyarts .segment .museum, #newsnevents .segment .museum, #toolkits .segment .museum  {
            display: block;
        }

        #keyarts .segment .museum .frame {
            width: 100%;
        }

    }

    @media only screen and (max-width: 800px){
        #intro .frame{
            margin-bottom: -12%;
        }

        h1  {
            transform: translate(-5%, -38%);
        }

        .centered {
            transform: translate(-50%,-300%);
        }

        #newsneventsBtn, #usersCreationsBtn {
            transform: translate(-50%,-300%);
        }

        .info {
            height: 680px;
            padding: 2% 10%;
        }

        #keyartsPromo .info {
            height: 820px;
            max-height: initial;
        }

        #fanArtistSlide .info{
            height: 950px;
        }

        #newsEventsUpdate .info {
            height: 400px;
        }

        #artToolsPromo .info {
            height: 360px;
        }

        .CSSgal .bullets {
            transform: translateY(-120%);
        }
    }

    @media only screen and (max-width: 768px) {
        h1 {
            transform: translate(-5%, -47%);
        }

        .paragraph{
            margin: 0 1% 0 0;
        }

        .topnav {
            padding-top: initial;
        }

        .navcontent {
            width: 90vw;
            margin: 0 5vw;
        }


        .writeup {
            position: relative;
            display: block;
        }

        label {
            display: block; 
            padding: 10px;
        }
        nav a {
            display: none; 
        }
        
        nav input:checked ~ a {
            display: block;
        }

        .CSSgal .prevNext a {
            width:       60px;
            height:      60px;
            line-height: 60px; /* If you want to place numbers */
        }
        .CSSgal .bullets > a {
            display: inline-block;
            width:       25px;
            height:      25px;
            line-height: 25px;
        }


    }

    @media only screen and (max-width: 720px) {
        header {
            height: 8vh;
        }

        h1 {
            transform: translate(-5%, -35%);
        }

        #intro .frame {
            margin-bottom: -13%;
        }

        #intro .frame a #newsneventsBtn {
            transform: translate(-50%, -175%);
        }

        .centered, #usersCreationsBtn {
            transform: translate(-50%, -275%);
        }

        .productDiv {
            margin: 0 0.5% 3%;
        }

        #keyartsPromo .info {
            height: 920px;
        }

        #fanArtistSlide .info {
            height: 950px;
        }

        #newsEventsUpdate .info {
            height: 450px;
        }

        #artToolsPromo .info {
            height: 375px;
        }

        #fanArtistSlide .info .frame{
            width: 98%;
        }

        .frame [slot="footer"], .frameImg [slot="footer"], .productDiv [slot="footer"] {
            height: 120px;
        }
    }

/* ===== MOBILE: Media queries for small mobile resolution. ===== */
    @media only screen and (max-width: 616px) { 
        .navcontent {
            width: 100vw;
            margin: 0;
        }

        .paragraph{
            text-align: left;
        }

        .CSSgal .prevNext a {
            width: 35px;
            height: 35px;
        }

        .productDiv{
            width: 98%;
            margin: 1% 0 ;
        }

        .writeup h5 {
            text-align: left;
        }
    }

    @media only screen and (max-width: 428px) { 
        header {
            height: 10vh;
        }

        h1 {
            transform: translate(-5%, -30%);
        }

        h3 span, h4 span, h5 span, h3, h4 {
            font-size: 1.3rem;
            margin-top: 0;
        }


        h4.tagline {
            font-size: 1rem;
        }

        .paragraph h5 {
            text-align: left;
            font-size: 1.25rem;
        }

        .CSSgal .slider h3, .CSSgal .slider h2{
            font-size: 2rem;
            margin-top: 0;
        }

        header {
            padding: 2%;
        }
        .promopic {
            float: none;
            width: 100%;
        }

        .segment {
            width: 98%;
            margin: 0 1%;
        }

        .paragraph{
            width: 100%;
            margin: initial;
            padding-left: initial;
        }

        #intro .frame {
            margin-bottom: -20%;
        }

        .frame, .frameImg, .userHighlight{
            width: 100%;
            margin-right: 0;
            margin-bottom: 4%;
        }

        .centered, #usersCreationsBtn, #intro .frame a #newsneventsBtn {
            transform: translate(-50%, -350%);
        }

        .frame a{
            margin-bottom: 1%;
        }

        .centered {
            margin-bottom: 0;
        }

        .filternav{
            width: 90vw;
        }

        .tabcontent {
            width: 100%;
        }

        .tablink{
            width: 100%;
        }
        

        .tabfilter::part(base) {
            width: 100%;
        }

        .slider .info{
            padding: 3% 12%;
        }

        .CSSgal .bullets {
            transform: translateY(-120%);
        }

        .CSSgal .prevNext a {
            width: 50px;
            height: 50px;
        }

        .centered a {
            transform: translate(-50%, -180%);
        }

        .museum {
            margin: 0 0.5%;
        }

        #keyartsPromo .info {
            height: 850px;
        }

        .userHighlight [slot="image"] {
            height: 500px;
        }

        .info {
            max-height: initial;
            height: 850px;
        }

        #fanArtistSlide .info{
            height: 1580px;
        }

        #newsEventsUpdate .info {
            height: 500px;
            padding: 0 10%;
        }

        #artToolsPromo .info {
            height: 330px;
            padding: 0 11%;
        }

        .productDiv {
            margin: 3% 0;
        }

        .frame [slot="footer"], .frameImg [slot="footer"], .productDiv [slot="footer"] {
            height: initial;
        }
    }

    @media only screen and (max-width: 425px) {
        .slider .info {
            padding: 3% 15%;
        }
    }

    @media only screen and (max-width: 414px) {
        #newsEventsUpdate .info, #artToolsPromo .info {
            padding: 2% 12%;
        }

        #fanArtistSlide .info {
            height: 1600px;
            padding: 2% 15%;
        }

        #newsEventsUpdate .info {
            height: 530px;
        }

    }

    @media only screen and (max-width: 412px) {
        .frame, .frameImg, .userHighlight {
            margin-bottom: 5%;
        }

        .userHighlight [slot="image"] {
            margin: -25%;
        }

        #newsEventsUpdate .info {
            height: 550px;
        }

        #artToolsPromo .info {
            height: 330px;
        }

        #fanArtistSlide .info {
            height: 1550px;
        }
    }

    @media only screen and (max-width: 390px) {
        .userHighlight [slot="image"], .frame [slot="image"], .frameImg [slot="image"], .productDiv [slot="image"] {
            height: 480px;
        }

        .frame [slot="image"], .frameImg [slot="image"], .productDiv [slot="image"] {
            margin: -7%;
        }

        #keyartsPromo .info {
            height: 875px;
        }

        #newsEventsUpdate .info {
            height: 550px;
        }

        #artToolsPromo .info {
            height: 360px;
        }

        .centered, #intro .frame a #newsneventsBtn {
            transform: translate(-50%, -330%);
        }

        .productDiv {
            margin: 0 0 5%;
        }
    }

    @media only screen and (max-width: 384px) {
        h1 {
            transform: translate(-2%, -30%);
        }

        .userHighlight [slot="image"] {
            height: 400px;
        }

        #newsEventsUpdate .info {
            height: 580px;
        }

        #fanArtistSlide .info {
            height: 1330px;
        }

        #artToolsPromo .info {
            height: 400px;
        }
    }


    @media only screen and (max-width: 375px) {
        header {
            height: 12vh;
        }

        h1 {
            transform: translate(-1%, -30%);
        }

        #welcomeMsg h5 {
            margin-top: 2%;
        }

        .info{
            height: 1000px;
            padding: 3% ;
        }


        .centered a {
            transform: translate(-50%, -160%);
        }

        #keyartsPromo .info {
            height: 900px;
        }

        #fanArtistSlide .info {
            height: 1320px;
        }

        #newsEventsUpdate .info {
            height: 600px;
        }

        #artToolsPromo .info {
            height: 420px;
        }
        
    }

    @media only screen and (max-width: 360px) { 
        header {
            padding: 2% 0;
            height: 15vh;
        }

        h1{
            transform: translate(-2%, -20%);
        }

        header {
            padding: 1%;
        }

        .segment {
            width: 98vw;
            margin: 0 1vw;
        }

        .CSSgal .bullets {
            transform: translateY(-160%);
            margin-top: 5%;
        }

        #keyartsPromo .info {
            height: 1080px;
            padding: 0 18%;
        }

        #fanArtistSlide .info {
            height: 1360px;
            padding: 0 18%;
        }

        #newsEventsUpdate .info {
            height: 700px;
            padding: 0 15%;
        }

        
    }